body {
	background-color: #f9f9f9;
}

.bgBlanc {
	background-color: #fff;
}

.padTop {
	padding-top: 15px;
}

.contour {
	border: 1px solid #000;
	transition: all 400ms;
	
}
.contour:hover {
	background-color: #333;
	color:#fff;
	transition: all 400ms;
}

.margeTop {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.cache {
	opacity: 0;
}

.cache {
  transition: opacity 1000ms;
}

.dateFormat {
	color: #f49103;
	font-weight:bold;
	background-color: #f9f9f9;
	min-height: 10rem;
	text-align: center;
	padding-top: 1rem;
}

.jour {
	font-size:2rem;
}

.an {
	font-size:2.2rem;
}

.hh {
	min-width: 100%;
	text-align: center;
	font-size: 1.0rem;
	color:#929292;
	padding-top: 0.5rem;
}

.float-droit {
	display: inline-block;
	float: right;
}

.containerForm {
    background-color: #fff;
    border-radius: 4px 4px 0 0;
   -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.fixe {
	position:fixed;  
	z-index: 99; 
	background-color: #ffffff; 
	box-shadow: 0 0 5px #ccc; 
	max-width: 970px;
	padding-bottom: 1rem;
}

.trig {
	min-height: 2rem;
	display: inline-block;
}

.noir {
	color:#444;
}

footer {
	background-color: rgb(231, 231, 231);
	min-height: 5rem;
	padding: 2rem 0;
	margin-top: 3rem;
}

.content {
	padding: 3rem 1rem;
}

.signature  {
	padding: 0 1rem 3rem 1rem;
	color:#f49103;
}


/* media query pour le header fixe */

/* Small devices (tablets, 768px and up) */
@media all and (max-width:768px) { 
	.fixe {
		max-width: 768px;
	}
}

@media all and (min-width:769px) and (max-width: 992px) {
	.fixe {
		max-width: 750px;
	}
 }

@media all and (min-width: 1170px) { 
.fixe {
		max-width: 1170px;
	}}

